APP_URL="MY_APP_URL"


VITE_SUPABASE_URL="https://dmaaepizwjziffodnexu.supabase.co"

VITE_SUPABASE_ANON_KEY="sb_publishable_ILR7TK4VRljWmO12BrDvYQ_GzhZQjsK"

# Terminal import script (DO NOT commit the real key)
SUPABASE_SERVICE_ROLE_KEY="YOUR_SUPABASE_SERVICE_ROLE_KEY"
